.appComponent {
    &-toolbar {
        background-color: black;
        color: white;
        height: 6rem;
        font-size: 25px;

        &-sidenavClosed {
            cursor: pointer;
        }
    }

    &-container {
        background-color: teal;
        min-height: 100vh;
        width: 100%;

        &-sidenav {
            padding: 20px;
        }

        &-sidenavContent {
            height: 100%;
        }
    }
}