.appComponent {
    &-toolbar {
        background-color: black;
        color: ghostwhite;
        height: 6rem;
        font-size: 25px;
        display: flex;
        gap: 1rem;

        &-iconClosed {
            color: mediumturquoise;
            margin-top: 8px;
            cursor: pointer;
            font-size: 35px;
        }

        &-iconClosed:hover {
            color: aqua;
        }

        &-iconOpen {
            color: mediumturquoise;
            margin-top: 0px;
            cursor: pointer;
            font-size: 35px;
        }

        &-iconOpen:hover {
            color: aqua;
        }
    }

    &-container {
        background-color: teal;
        min-height: 100vh;
        width: 100%;

        &-sidenav {
            width: 12rem;
            border-top: 1px solid #313131;
            padding: 10px;
            background-color: black;

            &-ul {
                margin-top: 1rem;
                color: ghostwhite;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                &-li {
                    cursor: pointer;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    &-icon {
                        color: deeppink;
                    }

                    &-info {
                        margin-top: 2px;
                    }
                }

                &-li:hover {
                    color: lightblue;
                }
            }
        }

        &-sidenavContent {
            height: 100%;
            padding: 2rem;
            color: ghostwhite;
        }
    }
}