<div class="appComponent">
    <!-- TODO: Separar en un componente toolbar -->
    <mat-toolbar class="appComponent-toolbar">
        <div *ngIf="!showFiller">
            <span class="material-icons appComponent-toolbar-iconClosed" (click)="drawer.toggle(); openClosed()">
                menu
            </span>
        </div>
        <span *ngIf="showFiller" class="material-icons appComponent-toolbar-iconOpen"
            (click)="drawer.toggle();  openClosed()">
            menu_open
        </span>
        <span>Courses House</span>
    </mat-toolbar>

    <!-- TODO: Separar en un componente sidenav -->
    <mat-drawer-container class="appComponent-container" autosize>
        <mat-drawer #drawer class="appComponent-container-sidenav" mode="side">
            <div class="appComponent-container-sidenav-ul">
                <div class="appComponent-container-sidenav-ul-li">
                    <span class="material-icons appComponent-container-sidenav-ul-li-icon">
                        admin_panel_settings
                    </span>
                    <span [routerLink]="['/admin']" class="appComponent-container-sidenav-ul-li-info">Admin</span>
                </div>
                <div class="appComponent-container-sidenav-ul-li">
                    <span class="material-icons appComponent-container-sidenav-ul-li-icon">
                        home
                    </span>
                    <span [routerLink]="['/home']" class="appComponent-container-sidenav-ul-li-info">Home</span>
                </div>
            </div>
        </mat-drawer>

        <div class="appComponent-container-sidenavContent">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</div>